
body{
	margin: 0 auto;
	padding: 0;
	width: 70%;
}
h1{
	text-align: center;
	font-family: courier,arial,helvetica;
	font-style: italic;
	background: white;
	margin: 0;
	padding: 1%;
	color: #3c104c;
	font-size: 3em;
	border-color: #d35400;

}

.navigation ul{
		list-style-type: none;
		margin:0;
    	overflow:auto;
    	padding: 0.5%;
    	border-color: #F3962B;
    	border-style: solid;
    	border-width: 5px;
    	border-collapse: collapse;
    	border-spacing: 0;
}

#divToChange{
	margin-top: 10px;
	padding-top: 10px;
}

.navigation ul> li{
	width: 25%;
	float: left;
	text-align: center;
	background-color: white;
	font-size: 1.2em;
}

ul> li> a{
	background-color: #FCDFBF;
	padding: 0;
	margin: 0;
	border-style: solid;
	border-color: #FABD78;
	display: block;
	color: white;
	height: 45px;
	color: black;
	font-weight: bold;
	text-decoration:none;
}
img{
	float: right;
	margin: 2%;
}

h2{
	margin-top: 2%;
	font-weight: bold;
	font-size: 200%;
}
p{
	font-size: 20px;
}
h3{
	font-size: 150%;
	margin: 0;
	padding: 0;
}

ul> li, ol{
	font-size: 1.3em;
	line-height: 1.2em;
}

p + ol{
	margin-right: 40%;
}
a:hover{
	background-color: #fff;
	color: #000;
}

.current{
	background-color: #fff;
	color: #000;	
}

#content{
	background-color: white;
	margin:0;
	padding:1% 3%;

}

.oneRecipe {
	background-color: #f4f1eb;
	border-radius: 5px;
	box-shadow: 0 0 15px gray;
	float: left;
	margin: 4.5%;
	padding: 10px;
	width: 215px;
	height: 210px; 
}

.onereview {
	background-color: #f4f1eb;
	border-radius: 5px;
	box-shadow: 0 0 15px gray;
	float: left;
	margin: 5%;
	width: 90%;
	height: auto;
}

img {
	height: 200px;
	width: 200px;
	float: right;
}

.thedetails {
	margin: 10px; 
}
.back{
	margin: auto;
	display: block;	
	background-color: white;
  	color: black;
 	border: 2px solid #4CAF50;
 	padding:1%;
}

